.sticky-navbar {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: rgb(255, 255, 255, 0.9);
    position: sticky;
    top: 0;
    font-size: 0.85rem;
    z-index: 1;
    padding: 0px 30px;

    a {
        text-decoration: none;
        color: black;
        margin-right: 30px
    }

    .active-page {
        color: #FF764D;
    }
}